*{
    margin: 0;
    box-sizing: border-box;
}

main, footer, #logo{
    padding: 0 12%;
    text-align: justify;
}

.sfondo-header{
    background-image: url( ../img/pattern.png);
    background-color: dodgerblue;
}

#logo{
    height: 100px;
    margin-top: 50px;
}

h1{
    line-height: 90px;
    font-size: 70px;
    text-align: left;
}

#scritto-da{
    color: grey;
    font-size: 18px
}

#scritto-da 
span{
    color: dodgerblue;
}

#data{
    font-size: 12px;
}

figure .foto-tim{
    height: 25vw;
}

figcaption{
    font-size: 14px
}

.article{
    font-size: 18px;
    margin: 30px 0;
}

#list{
    padding: 0;
    list-style-type: disc;
}

table{
    margin-top: 40px;
}

thead{
    line-height: 16px;
    color: white;
    background-color: dodgerblue;
}

.dati-tab{
    width:25vw
}

.riga-2,
.riga-4{
    background-color: lightblue;
}

.evidenzia{
    background-color: yellow;
}

footer div{
    display: block;
    margin: 20px 0;
    height: 208px;
    width: 312px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#correlati{
    color: grey;
}



#corr1{
    background-image: url(../img/monitor.jpg);
    height: 208px
}

#corr2{
    background-image: url(../img/graph.jpg);
    height: 208px;
}